@import "variables";

//Vue cloak styles

[v-cloak]>* {
    display: none
}

[v-cloak]::before {
    content: "loading…"
}

//Main Styles
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    background-color: lighten(black, 30%);
    padding:#{(16/$base-font-size)*1rem};
    color: darken(white, 10%);
}

.content {
    padding:0 #{(16/$base-font-size)*1rem};
}

.supplementary-info {
    padding: (8/$base-font-size)*1rem;
    background: lighten(black, 90%);
    border-radius: (4/$base-font-size)*1rem;
    max-width: (990/$base-font-size)*1rem;
}

.text-sm {
    font-size: #{(12/$base-font-size)*1rem};
}

#search-filter {
    li {
        padding:#{(10/$base-font-size)*1rem} #{(16/$base-font-size)*1rem};
    }
}

.form-control {
    width: (1040/$base-font-size)*1rem;
    padding:#{(16/$base-font-size)*1rem};
    font-size: #{(16/$base-font-size)*1rem};
    font-weight: bold;
    border-radius: #{(4/$base-font-size)*1rem};
    box-shadow: none;
    background-color: lighten(black, 95%);
    border:#{(1/$base-font-size)*1rem} solid lighten(black, 90%);
}